.container {
    margin: 0 auto;
    width: 1280px;
}

.wrapper {
    align-items: flex-start;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.left-sidebar,
.main-content,
.right-sidebar {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 100%;
    box-sizing: border-box;
}

.left-sidebar {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 20%
}

.main-content {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 60%
}

.right-sidebar {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 20%
}
